.header {
    background-color: #b1b1b1;
}

.header-area {
    padding: 20px;
}
.logo {
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    height: 40px;
}

.main{
    /* background-color: #e7e7e7; */
    padding: 0!important;
}

.footer {
    background-color: #b1b1b1;
    
}

.footer p {
    margin: 0;
    padding: 0;
}
.area-descricao-footer {
    display: flex;
    justify-content: center;
}

.span-bold{
    font-weight: bold;
}

.header-area .nav .nav-link {
    color: black;
}

.nav-link .active {

    color: rgb(24, 81, 240)!important;
}

.header-area .nav a:hover{
    color: rgb(24, 81, 240);
}

.header-area .nav-link {
    font-weight: bold;
}

.header-area .nav span {
    display: flex;
    align-items: center;
}

.header-area .nav input {
    width: 140px;
}

#div-search{
    background-color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

#input-search{

    border: none;
    margin-left: 5px;
}

#input-search:focus{
    outline: 0;
}


.section-1{
    padding: 0;
    background-color: #e7e7e7;
}

.section-1 h1 {
    font-weight: bold;
}

.section-4 {
    padding: 0;
    background-color: white;
}

.section-4 .area-redes-sociais a {
  color: black
}

.section-4 .area-redes-sociais {
  font-size: 35px;
}

.section-4 h2 {
    font-weight: bold;
}

.section-3 {
    padding: 0;
    background-color: #e7e7e7;
}

.section-3 h2 {
    font-weight: bold;
}

.section-2{
    padding: 0;
    background-color: white;
}

.section-2 h2 {
    font-weight: bold;
}

#titulo-lancamento{
    padding: 20px 0;
}

.area-descricao-video h2{
    font-size: 20px;
}

p {
    margin: 0;
    padding: 0;
}

hr {
    background: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}

.icone-editorial {
    font-size: 25px;
    margin-right: 10px;
}

.p-nome-filme{
    display: inline;
    font-weight: 400;
}

.section-3 .nome-filme {
    font-size: 20px;
}

.section-2 #btnGroupDrop1 {
    border: 1px solid;
}

.section-2 .btn-group {
    width: 100%;
}


#icon-user{
    background-color: rgb(180, 179, 179);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon-user #icon-circle {
    border: 3px solid #5e5e5e;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#icon-user i {
    color: #5e5e5e;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 5px;
}

.avaliacoes{
    font-size: 15px;
}
.avaliacoes .star-and-data {
    display: flex;
    justify-content: space-between;
}
.avaliacoes .star-and-data span{
    font-size: 15px;
}
.nome-avaliador {
    font-weight: bold;
    font-size: 20px;
}

.carousel-item .nome-filme {
    font-size: 25px;
}

.carousel-item .area-nome {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 90%; */
    font-size: 15px;
    padding-right: 10px;
}

.carousel-item .elenco div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
    padding-right: 10px;
    /* width: 90%; */
}

.carousel-item .stars {
    color: gray;
    padding-left: 5px;
}

.carousel-indicators li{
    background: rgb(75, 74, 74);
    background-clip: none;
    border-top: none;
    border-bottom: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media (max-width: 400px) {
    #area-video {
        padding-left: 15px !important;
        display: flex;
        justify-content: center;
    }

    #area-video iframe {
        width: 320px;
        height: 300px;
    }

    #container{
        margin: 0 5px !important;
    }
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js
{
    height: 100%;
    background: #727272;
}

/* Header */
.header a{color: white;}
.header img{width: 100%;}
.header nav a:hover{background-color: rgb(206, 64, 64); color: white;}
.pesquisar{margin-bottom: 10px;}

/* Main */
/*Secao 1*/
.part1{background-color: rgb(202, 202, 202);}
.Lancamentos{margin-top: 20px;display: flex; flex-wrap: nowrap;justify-content: center;}
.carousel-item{margin-bottom: 30px;}

/*Secao 2*/
.destaque_row1{justify-content: space-between;margin-right: 20px;}
.card_area img{width: 100%;}
.Ultimas_row1{margin-top: 20px;margin-bottom: 20px;}
.avaliadores{justify-content: center;}
.avaliadores > div{margin-left:20px;}


/*Secao 3*/
.Entrevistas_row1{margin-top: 20px;margin-bottom: 20px;padding-top: 20px;}
.part3{background-color: rgb(201, 201, 201);}
.part3 button{margin-bottom: 20px;}

/*Footer*/
.footer_area{color: white;}
.footer img{width: 40%;}

@media screen and (max-width:600px){
    /*Header Mobile*/
    .header{
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 999;
    }
    .header img{width: 130px;margin-left: 100px;}
    .img_area{height: 5px;}
    #navegacao{display: none;margin-top: 0px;margin-bottom: 0px;}
    .dropdown ul{font-size: 5px;margin-right: 135px;}
    .pesquisar{margin-bottom: 0px;}

    /*Secao 1 - Lancamentos Mobile*/
    .part1{margin-top: 100px;}
    .part1 h1{font-size: x-large;}
    .part1 iframe{width: 350px; height: 300px;}

    /*Secao 2 - Ultimas Avaliacoes Mobile*/
    .destaque_row1 h1{margin-left: 90px;}
    .btn_categorias{margin-left: 16px;}
    .card_area{ margin-left: 0px;}
    .btn_filmes{margin-left: 70px;}   
    .Ultimas_row1{margin-left: 40px;}
    .avaliadores{margin-left: 10px;margin-right: 30px;justify-content: start;}
    .avaliadores img{margin-left: 25px;}

    /*Secao 3 - Entrevistas Mobile*/
    .Entrevistas_row1{margin-left: 10px;}
    .part3 button{margin-bottom: 20px;}
    .part3 iframe{width: auto; height: 390px;}

    /*Footer Mobile*/
    .footer_area{margin-top: 10px;}
}
@media screen and (min-width:601px) and (max-width:1000px){
    
    /*Header - Tablet*/
    .header{
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 999;
    }
    .header img{width: 40%;margin-left: 200px;}
    .img_area{height: 80px;}
    #navegacao{display: none;margin-top: 0px;margin-bottom: 0px;}
    .btn_drop{margin-left: 30px;}
    .pesquisar{margin-bottom: 10px;}

    /*Main - Tablet*/
    /*Secao 1 - Tablet*/
    .part1{margin-top: 150px;}
    .part1 iframe{width: 100%;height: 450px;}
    
    /*Secao 2 - Tablet*/
    .btn_categorias{margin-left: 90px;}
    .card_area{margin-left:0px;}
    .card_area img{width: 100%;}
    .avaliadores{justify-content: start;}
    .avaliadores h5{padding-top: 30px;}
    .avaliadores img{margin-bottom: 40px;}

    /*Secao 3 - Tablet*/
    .part3 iframe{width: 695px; height: 450px;}
    .part3 button{margin-bottom: 20px;}
}
@media screen and (min-width:1001px) {
    .btn_drop{display: none;}
    .part3 iframe{width: 100%; height: 315px;}
    .card_area img{ width: 100%;}
}

